/* global.css */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em;
}
body {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  hyphens: auto;
}
a {
  color: rgb(29, 69, 179);
  text-decoration: none;
  text-shadow: 1px 1px 1px forestgreen;
}
.wrap {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1rem;
}
header {
  background: -webkit-linear-gradient(rgb(51, 215, 154) 24%, rgb(75, 118, 235));
  color: #fff;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.header--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--logo a {
  font-size: 1.25rem;
  color: #fff;
}
header li {
  font-size: 0.8rem;
}
header nav a {
  color: rgb(189, 223, 243);
}
header nav a:hover {
  color: #fff;
}

.header--signedin li {
  text-align: right;
  line-height: 1.25;
}
.header--signedout li {
  display: inline-block;
  margin-left: 0.5rem;
}
.course--module {
  background: rgb(42, 181, 131);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
}
.course--label {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}
.course--title {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
}
.course--add--module {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  background: rgb(175, 241, 217);
  color: rgb(29, 95, 71);
  font-weight: 300;
  font-size: 1.25rem;
}
.course--add--title .add {
  width: 20px;
  height: auto;
  margin-right: 5px;
  fill: rgb(29, 95, 71);
}
.course--detail--title {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #888;
  margin: 3rem 0 0.5rem;
  font-size: 0.9rem;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.course--name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: rgb(29, 95, 71);
}
.course--detail--list {
  font-weight: 300;
  margin: 0 0 1.5rem 1rem;
  line-height: 1.5;
}
.actions--bar {
  background: #e9e5f0;
  padding: 1rem 0;
  margin: -2rem 0 2rem;
}
.validation--errors {
  background: #e9e5f0;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}
.validation--errors h3 {
  color: #800;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.validation--errors ul {
  font-weight: 300;
  margin-left: 1rem;
  line-height: 1.25;
}
.validation--errors li {
  margin-bottom: 0.5rem;
}
.validation--errors li:last-child {
  margin-bottom: 0;
}

.form--centered {
  max-width: 510px;
  margin: 0 auto;
  padding: 0 1rem;
}
form {
  margin-bottom: 2.5rem;
}
label {
  display: block;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
input,
textarea {
  display: block;
  width: 100%;
  color: #332a40;
  border-radius: 0.5rem;
  border: 1px solid #8c789b;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.8rem;
}
textarea {
  min-height: 300px;
}
.button {
  background: rgb(133, 235, 197);
  color: rgb(29, 95, 71);
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: 2px solid rgb(29, 95, 71);
  margin: 0 0 0.5rem 0;
  display: block;
  width: 210px;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background 0.2s;
  font: inherit;
  box-shadow: 0 0 0 1px rgb(48, 99, 80) inset;

}
.button:last-child {
  margin-bottom: 0;
}
.button:hover {
  background: rgb(48, 99, 80);
  box-shadow: 0 0 0 2px rgb(133, 235, 197) inset;

  color: ghostwhite;
  cursor: pointer;
}
.button-secondary {
  color: rgb(75, 118, 235);
  background: none;
  box-shadow: 0 0 0 2px rgb(75, 118, 235) inset;
  transition: box-shadow 0.2s, color 0.2s;
}
.button-secondary:hover {
  color: ghostwhite;
  background-color: rgb(31, 61, 146);
  box-shadow: 0 0 0 2px rgb(75, 118, 235) inset;
  cursor: pointer;
}
input:focus,
button:focus,
.button:focus,
textarea:focus {
  border: none;
  border-radius: 0;
  outline: 2px solid rgb(51, 215, 154);
}

@media screen and (min-width: 600px) {
  .header--signedin li {
    display: inline-block;
    margin-left: 0.5rem;
    line-height: 1;
  }
  .main--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    grid-auto-rows: 1fr;
  }
}
@media screen and (min-width: 800px) {
  .main--grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main--flex {
    display: flex;
  }
  .main--flex div:first-child {
    flex-basis: 62%;
  }
  .main--flex div:last-child {
    margin-left: 8%;
    flex-basis: 30%;
  }
  .course--detail--title {
    margin: 1.5rem 0 0.5rem;
  }
  .button {
    margin: 0 0.5rem 0 0;
    display: inline-block;
  }
}
 /* New Game Modal Styles */

 .modal {
   position: relative;
   top: 20vh;
   z-index: 1;
   width: 40%;
   margin: 2rem auto;
   padding: 1.5rem;
   text-align: center;
   background-color: rgb(204, 252, 248);
   border: 3px solid  rgb(30, 168, 143);
   border-radius: 8px;
   box-shadow: 1px 2px 5px rgba(179, 177, 177, 0.7), 3px 4px 15px rgba(0, 0, 0, .7) ;
 }

 .modal--label {
   margin-top: 1.3rem;
   padding-bottom: .3rem;
   font-size: 1.2rem;
   font-weight: 500;
   color:rgb(75, 118, 235);
   text-shadow: 1px 1px 1px rgba(0,0,0,.7);
 }

 .modal--select {
  border-radius: 5px;
  padding: .5rem;
  box-shadow: 2px 1px 1px rgba(123, 123, 126, .8);
 }

 .modal--cancel--btn, .modal--submit--btn {
  font-family: 'Raleway', sans-serif;
  font-size: .8rem;
  font-weight: 500;
  border-radius: 8px;
  padding: .5rem;
  margin-left: 1rem;
  text-shadow: 1px 1px 1px rgba(106, 108, 109, 0.605);
  box-shadow: 2px 1px 1px rgba(123, 123, 126, .8);
 }


 .modal--submit--btn {
   color:rgb(17, 94, 58);
   background-color: rgb(146, 221, 196);
   border: 2px solid rgb(17, 94, 58);
   
 }

 .modal--cancel--btn {
   color: rgb(75, 118, 235);
   border: 2px solid rgb(75, 118, 235);
   background: none;
 }

 .modal--submit--btn:hover {
   background-color: rgb(17, 94, 58);
   color: ghostwhite;
   box-shadow: 0 0 0 2px rgb(133, 235, 197) inset;

 }

 .modal--cancel--btn:hover {
  background-color:  rgb(31, 61, 146);
  color: ghostwhite;
  box-shadow: 0 0 0 2px rgb(75, 118, 235) inset;

}

.modal--wrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 3.2rem;
  left: 0;
  background-color: rgba(0,0,0,.5);
}